$active: rgb(114, 88, 220);
$activeHover: rgb(131, 107, 231);
$activeVisited: #6b41c6;
$yellow: rgb(249, 191, 41);
$white: #fff;
$black: #191919;
$grey: rgb(89, 86, 83);
$bgColor: #1d1d1dec;

$transition: 0.25s;
$boxShadow: 0px 6px 12px rgba(0, 0, 0, 0.08), 0px 4px 6px 1px rgba(0, 0, 0, 0.12);
